.coinGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas: "coinInfo miniLine summary"; */
  row-gap: 10px;
  /* align-items: space-around; */
  justify-content: center;
  border-radius: 10px;
}

.info-flex {
  display: flex;
  flex-basis: 100%;
  /* height: 281px; */
  height: 100px;
  align-items: center;
  justify-content: space-around;

  border-radius: 10px;
}

#coin-search {
  width: 100%;
  background-color: #0f1a27;
}

.coinInfo {
  display: flex;
  justify-content: space-around;
  align-self: center;
  background-color: #0f1a27;
}

.coinInfo:hover {
  background-color: #152335;
}

.info-flex:hover {
  cursor: pointer;
  filter: brightness(1.2);
  border-bottom: 2px solid #14757c;
}

.coin-logo {
  width: 50px;
  height: 50px;
}
.miniLine {
  position: relative;
  height: 100px;
  width: 100%;

  background-color: #0f1a27;
}

/* .summary {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #192b41;
} */

.info-header {
  justify-self: center;
  align-self: center;
}

.chart-header {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
}

.active {
  filter: brightness(1.2);
  border-bottom: 2px solid #3cb683;
}

.day-header:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.week-header:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.month-header:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.year-header:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.summary-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: space-between;
  align-items: center;
  margin-left: 25px;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0f1925;
  align-content: center;
  justify-items: center;
  /* gap: 10px; */
}

p {
  font-size: 1.3rem;
}
